<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="70px">
    <mat-card-title fxLayoutAlign="center">
      404 – Page Not Found!
    </mat-card-title>
    <mat-card-content>
      The page you are trying to reach does not exist, or has been moved. 
      Please use the menus or the search box to find what you are looking for. 
      Perhaps searching can help.
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="center">
      <a mat-raised-button href='/' color="primary">Home page</a>
    </mat-card-actions>
  </mat-card>
</div>
